body {
  margin: 40px;
}
.w-n-1 {
  width: 100px;
}
.remove-shadow {
    box-shadow: inset 0px 0px 2px rgb(220 38 38 / 90%);
    background: #fff;
    padding: 0px 10px;
    font-weight: 900;
    color: red;
}
